.mentor-experience{
    padding: 50px 0 100px 0;
}
.experience-box{
    padding: 15px 75px 0 75px;
}
.experience-box:first-child{
    padding-top: 0px;
}
.about-mentor-experience{
    margin-top: 10px;
}
.mentor-experience h4{
    font-weight: 400;
    font-size: 20px;
}
.experience-box-heading h3{
    font-size: 28px;
    font-weight: 400;
}
.experience-box-heading h3 span{
    font-size: 25px;
    margin-right: 15px;
}
.experience-description p{
    margin-top: 5px;
    font-size: 18px;
    color: var(--textclr);
    padding-bottom: 50px;
    border-bottom: 1px solid var(--dark);
}
@media only screen and (max-width: 1012px){
    .experience-box{
        padding: 15px 15px 0 15px;
    }
    .experience-description p{
        min-height: 155px;
    }

}
@media only screen and (max-width: 767px){
    .mentor-experience{
        padding-top: 0;
    }
    .experience-description p{
        min-height: unset;
        padding-bottom: 20px;
    }
    .experience-box-heading{
        padding-top: 25px;
    }
}