.single-profile-banner{
    padding: 100px 0 00px 0;
}
.single-profile-banner .row{
    border-bottom: 2px solid var(--dark);
}
.mentor-heading-description h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 58px;
}
.mentor-single-image{
    height: 500px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 767px){
    .mentor-heading-description h1{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 50px;
    }
}